# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.local
.env.production
serviceAccountKey.json

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# iOS / macOS / Android artifacts
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
**/*.mode1v3
**/*.mode2v3
**/*.moved-aside
**/*.pbxuser
**/*.perspectivev3
**/Pods/
**/Podfile.lock
**/DerivedData/
**/.gradle/
**/local.properties
**/gradle-app.setting
**/app-debug.apk
**/app-debug-unaligned.apk
**/app-release.apk
**/app-release-unsigned.apk
**/.idea/
**/.vscode/

# OS Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.rocketride/
